{% extends 'base.html' %}

{% block content %}




<section id="listings" class="py-4">
    <div class="container">
      <div class="row">

{% include 'partials/_alerts.html' %}

{% if user.profile.is_employee %}
      <div class="row">
        <h2 style="padding-left: 15Px"> List of Users enrolled for events </h2>
    </div>
    <div>
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr class="bg-info">
                <th>Session enrolled</th>
                <th>Customer name </th>
                <th>Customer email </th>
                <th>Customer Phone </th>
                <th>Session conducted on </th>
                <th>Customer enrolled date</th>


            </tr>
            </thead>
            <tbody>
            {% if enrollments %}
            {% for enrollment in enrollments %}
                <tr>
                    <td>{{ enrollment.event }}</td>
                    <td>{{ enrollment.name }}</td>
                    <td>{{ enrollment.email }}</td>
                    <td>{{ enrollment.phone }}</td>
                    <td>{{ enrollment.timings }}</td>
                    <td>{{ enrollment.contact_date }}</td>





                    </td>


                </tr>
            {% endfor %}
            {% else %}
      <div class="col-md-12">
          <p>no events posted yet</p>
      </div>
            {% endif %}
            </tbody>
        </table>
    {% endif %}

    </div>









      </div>
    </div>
</section>

{% endblock %}