<!DOCTYPE html>
<html>
<head>
<style>
h1 {text-align:center;}
p {text-align:center;}
tr {text-align:center;}

</style>
</head>
<body>

<h1>Firefighter Dashboard</h1>

</body>
<table style="width:100%">
  <tr>
    <th><a href="{% url 'ofws:injuredduty}" class="btn btn-primary">Injured On Duty</th>
    <th><a href="{% url 'ofws:vehaccident}" class="btn btn-primary">Vehicle Accident</th>
  </tr>
      <td><p></p></td>
      <td><p></p></td>
  <tr>
    <th><a href="{% url 'ofws:bioexpo}" class="btn btn-primary">Biological Exposure</th>
    <th><a href="{% url 'ofws:mazaexpo}" class="btn btn-primary">Hazardous Material Exposure</th>
  <tr>
    <td><p></p></td>
    <td><p></p></td>
  </tr>
  <tr>
    <td><a href="{% url 'ofws:xyz1}" class="btn btn-primary">Upload Form</a></td>
    <td><a href="{% url 'ofws:xyz2}" class="btn btn-primary">Previous Status</a></td>
  </tr>
</table>
<h1>Alert</h1>
</html>