{% extends 'base.html' %}

{% block content %}

<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
                <div class="links">
                    <!-- Example row of columns -->
                    <div class="row">
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img src="{% static "img/logoo.png" %}" alt="customer"/>
                                <div class="caption">
                                    <h2>Customer</h2>
                                    <p>Delighting customers and giving them a great dining experience is our main goal. </p>
                                    {% if user.is_authenticated %}
                                        <p><a class="btn btn-default" href="{% url 'index' %}"
                                              role="button">View
                                            details &raquo;</a></p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img src="{% static "img/logoo.png" %}" alt="cupcakes"/>
                                <div class="caption">
                                    <h2>Products</h2>
                                    <p>High quality products at affordable prices.</p>
                                    <p><a class="btn btn-default" href="{% url 'forms' %}"
                                           role="button">View
                                        details &raquo;</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img src="{% static "img/logoo.png" %}" alt="lunch"/>
                                <div class="caption">
                                    <h2>Services</h2>
                                    <p>Our food and services are second to none.</p>
                                    <p><a class="btn btn-default" href="{% url 'about' %}" role="button">View
                                        details &raquo;</a></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
</body>

{% endblock %}