{% extends 'base.html' %}

{% block content %}



  <section id="enrolled_events" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Welcome {{ user.username }}</h2>
            {% if enrollments %}
              <p>LIst of Events you have enrolled </p>
              <table class="table">
                <thead>
                  <tr>

                    <th scope="col">event</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                {% for enrollment in enrollments %}
                  <tr>
                  <td>{{ enrollment.id }}</td>

                    <td>{{ enrollment.event }}</td>
                    <td>
                      {{ enrollment.timings }}
                    </td>

                  <td><a href="{% url 'enrolledevent_delete' pk=enrollment.pk %}"
                           onclick="return confirm('Are you sure you want to delete?')"
                           class="btn btn-danger">Delete</a>
                    </td>

                  </tr>

                {% endfor %}
                </tbody>
              </table>
            {% else %}
                <p>you have not yet made any inquery </p>
            {% endif %}
        </div>
      </div>
    </div>
  </section>

{% endblock %}