{% extends 'base.html' %}
{% load static %}

{% block content %}

      <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <h2>Waves fitness center </h2>
          <p class="lead"></p>
          <img src="{% static 'img/running.jpg'%}" alt="">
          <p class="mt-4">We offer the latest in exercise equipment and wellness programs. Take a look at our ultimate fitness community through our virtual tour on the membership page! We have group classes, personal training, bootcamps and one of the largest indoor pools available at Omaha area gyms.

Our extensive selection of cardio machines and weight-training equipment – housed in a large, modern space in the historic Scoular Building in Downtown Omaha – means that you have availability and choice in your workout.

Pinnacle is for you – a place to be healthy and to reach your fitness goals in a comfortable, clean, relaxed environment. Join our community and see how you can reach the pinnacle of your personal health and fitness!
          </p>


        </div>


      </div>
    </div>
  </section>

{% endblock %}