{% load staticfiles %}

<html lang="en">
<head>
    <title>waves fitness center</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/staticfiles/css/custom.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body id="app-layout">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <p>
                {% if user.is_authenticated %}
                    <a class="navbar-brand" href=/home>
                        <b>Hello {{ user.username }}</b>
                    </a>
                    {% else %}
                    <a class="navbar-brand" href=/>
                        <b>Waves fitness center</b>
                    </a>
                {% endif %}
            <a class="navbar-brand" href="{% url 'about' %}">
                        <b>About</b>

                <a class="navbar-brand" href="{% url 'events' %}">
                        <b>Events</b>
                    </a>
                {% if user.profile.is_employee %}

                    <a class="navbar-brand" href="{% url 'enrollment_list' %}">
                        <b>Enrollment list</b>
                    </a>
                {% endif %}
            {% if user.profile.is_customer %}
             <a class="navbar-brand" href="{% url 'enrolled_events' %}">
                        <b>Enrolled events</b>
                    </a>
                {% endif %}

            </p>

        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href=/home><b>Home</b></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url 'logout' %}"><i class="fa fa-btn fa-sign-out"></i>Logout</a></li>
                             <li><a href="{% url 'password_change'%}">Change password</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'register_customer' %}"><span class="glyphicon glyphicon-log-in"></span> <b>Register</b></a></li>
                    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> <b>Login</b></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="content container">
    <div class="row">
        <div class="col-md-15">



            {% block content %}
            <!-- Page Content -->
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>

